In [1]:
L = [10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print("(i) add 200 and 300: ", L)
L.remove(10)
L.remove(30)
print("(ii) remove 10 and 30: ",L)
L.sort()
print("(iii) Sort List: ",L)
L.sort(reverse = True)
print("(iv) Sorted in reverse order: ",L)

(i) add 200 and 300:  [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
(ii) remove 10 and 30:  [20, 40, 50, 60, 70, 80, 200, 300]
(iii) Sort List:  [20, 40, 50, 60, 70, 80, 200, 300]
(iv) Sorted in reverse order:  [300, 200, 80, 70, 60, 50, 40, 20]

In [6]:
Scores = (45,89.5,76,45.4,89,92,58,45)
max = Scores[0]
pos = 0
for score in range(len(Scores)):
    if Scores[score] > max:
        max = Scores[score]
        pos = score
print("Maximum element in tuple: ",max)
print("Position of maximum element: ",pos)
mini = min(Scores)
print("Minimum element in tuple: ",mini)
count = Scores.count(mini)
print("Count of the minimum element: ",count)

scores_list=list(Scores)
scores_list.reverse()
print(scores_list)

ni = -1
num = int(input("Enter a number: "))
for i in range (len(Scores)):
  if Scores[i]==num:
    ni=i
    break
print(num,"is present at index.",ni)

Maximum element in tuple:  92
Position of maximum element:  5
Minimum element in tuple:  45
Count of the minimum element:  2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]

Enter a number:  76

76 is present at index. 2

In [7]:
import random

numbers = []
for _ in range(100):
    numbers.append(random.randint(100, 900))

odd_numbers = []
for num in numbers:
    if num % 2 != 0:
        odd_numbers.append(num)
print("Total Odd Numbers:", odd_numbers)
print("Total number of Odd Numbers:", len(odd_numbers))


even_numbers = []
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
print("Total Even Numbers:", even_numbers)
print("Total number of Even Numbers:", len(even_numbers))

prime_numbers = []
for num in numbers:
    is_prime = True
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
    else:
        is_prime = False
    if is_prime:
        prime_numbers.append(num)
print("Total Prime Numbers:", prime_numbers)
print("Total number of Prime Numbers:", len(prime_numbers))

Total Odd Numbers: [259, 283, 755, 311, 487, 115, 873, 251, 425, 707, 563, 867, 115, 663, 639, 455, 205, 165, 821, 129, 829, 281, 197, 153, 813, 835, 395, 531, 827, 563, 247, 449, 475, 321, 595, 119, 595, 169, 649, 643, 149, 741, 315, 211, 303, 197, 867, 129, 767, 131]
Total number of Odd Numbers: 50
Total Even Numbers: [348, 416, 148, 820, 148, 202, 252, 628, 858, 710, 488, 834, 878, 410, 848, 344, 572, 142, 354, 670, 710, 490, 446, 762, 348, 226, 182, 616, 644, 836, 408, 410, 816, 748, 612, 756, 374, 694, 828, 166, 454, 330, 208, 322, 178, 498, 220, 256, 112, 334]
Total number of Even Numbers: 50
Total Prime Numbers: [283, 311, 487, 251, 563, 821, 829, 281, 197, 827, 563, 449, 643, 149, 211, 197, 131]
Total number of Prime Numbers: 17

In [8]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
union = A.union(B)
print(union)

inter = A.intersection(B)
print(inter)

symmetricdiff = A.symmetric_difference(B)
print(symmetricdiff)

if (A.issubset(B)):
  print("Team A is subset of team B")
else:
  print("Team A is not subset of team B")


if(B.issuperset(A)):
    print("Team B is superset of team A")
else:
     print("Team B is not superset of team A")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
Team A is not subset of team B
Team B is not superset of team A

In [9]:
sample_dict={"name":"Kelly",
             "age":25,
             "salary":8000,
             "city":"New York"}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}